:root{
    --red_like: #cf3e39;
    --black_like: #2e2e32;
    --purple_like: #4a4980;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

p{
    text-align: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
    padding-right: 50px;
    color: white;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topnav{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: var(--red_like);
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 32px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right{
    float: right;
}

.section1{
    background-color: var(--black_like);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red_like);
}

.section2{
    background-color: var(--purple_like);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cols{
    margin: 10px;
    float: left;
    width: 30%;
    list-style-type: none;
}

.img_text{
    padding-bottom: 12px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: var(--black_like);
}

.img_pos img{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
  
.button{
    background-color: var(--black_like);
    border: none;
    color: white;
    padding: 6px 84px;
    margin-bottom: 32px;
    font-size: 16px;
    cursor: pointer;
}

.section3{
    background-color: var(--black_like);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid var(--red_like);
    background-color: var(--black_like);
    color: white;
    text-align: center;
    font-size: 10px;
 }

.text_spacing{
    padding: 10px;
}

.text_spacing2{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.text_spacing3{
    padding-top: 50px;
}

@media (max-width: 768px){
    .topnav a{
        padding: 12px 20px;
        float: none;
        width: 100%;
    }

    .section1{
        padding-top: 36px;
        vertical-align: middle;
    }

    .cols{
        width: 45%;
        margin: 6px 0;
    }

    .img_text{
        font-size: 8px;
        margin: 8px;
    }
    
    .text_spacing3{
        display: block;
        padding-left: 40%;
        
    }

}


