:root{
    --keppel: #41b3a3;
    --silver: #cccccc;
    --black_opac: rgba(0,0,0,0.4);
    --white: #fefefe;
    --gray: #888888;
    --algae_green: #85dcb8;
    --hippie_blue: #659DBD;
    --light_blue: lightblue;
    --yellow: yellow;
}

body{
    margin: 0;
}

.header{
    overflow: hidden;
    background-color: var(--keppel);
}

.group_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    padding: 10px 20px 0px 20px;
}

a:hover{
    cursor: pointer;
    transform: scale(1.1);
}

a:active{
    background-color: var(--yellow);
}

input[type=text], textarea, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid var(--silver);
    border-radius: 4px;
    box-sizing: border-box;
}

.header_right{
    display: flex;
    justify-content: flex-end;
}

.modal{
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black_opac);
}
  
.modal-content{
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--gray);
    width: 80%;
}

.exit_modal{
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.buttons{
    padding: 10px;
    margin: 10px;
    background-color: var(--algae_green);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons:hover{
    background-color: var(--hippie_blue);
    transform: scale(1.1);
}

.object_display{
    padding: 10px;
    margin: 20px;
    background: var(--light_blue);
}

.object_display:empty{
    background-color: var(--white);
}
