.user_card{
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 6px;
    margin: 20px;
    padding: 16px 48px;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
    width: 80%;
}

.card_id{
    font-size: medium;
    align-self: flex-start;
}
.card_name{
    font-size: larger;
    
}

.user_card:hover{
    transform: scale(1.01);
}

