.header{
    display: flex;
    width: 500px;
    padding: 20px;
    justify-content: space-between;
}

.title{
    font-size: 24px;
    color: #6e798f;
}

.add_button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #6e798f;
    background: none;
    font-size: medium;
    cursor: pointer;
}

.back{
    font-size: 24px;
    color: #6e798f;
}

